replicaCount: 5

image:
  repository: fastapi-k8s
  tag: latest
  pullPolicy: Never

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

probes:
  liveness:
    path: /health
    initialDelaySeconds: 3
    periodSeconds: 10
  readiness:
    path: /ready
    initialDelaySeconds: 2
    periodSeconds: 5

config:
  appName: "fastapi-k8s"
  logLevel: "info"
  maxStressSeconds: "30"

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilization: 50

redis:
  enabled: true
  password: "redis-learning-pwd-123"
  image:
    repository: redis
    tag: 7-alpine
  port: 6379
  persistence:
    size: 100Mi
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi
